option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: dev
    LOG_LEVEL: INFO
    LOG_SERVICE_NAME: sleeptandard-api
    LOG_HEALTH_REQUESTS: false
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: false
    RetentionInDays: 30
