option_settings:
  aws:elasticbeanstalk:application:environment:
    HTTPS_DOMAIN: api-dev.sleeptandard.com
    LETSENCRYPT_EMAIL: sleeptandard@gmail.com
    PUBLIC_BASE_URL: https://api-dev.sleeptandard.com

Resources:
  httpsSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0
